/*los div con borde visible */
div{
  border: 2px solid color black
}

/* rectangulo principal padre */
#principal{
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    border: 20px color rgb(117, 113, 113)
}

/* rectangulo secundario interno */
#centro{
    padding: 20px;
     border: 2px solid black
}

/* cuadros hijos */
#foto{
    width: 20%;
    display: inline-block;
    margin: 10px;
    text-align: center;
    vertical-align: middle;
}

#nombre{
    width: 40%;
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
}

#info{
    width: 20%;
    display: inline-block;
    margin: 10px;
    text-align: right;
    vertical-align: middle;
    border-right:dotted;
    border-right: 2px;
}

/* imagen redonda */
#foto img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

